<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <%- include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/header.ejs')%>

    <section class="home-container">

        <h1><%= title %></h1>
        
    </section>

    

    <%- include('partials/foot.ejs')%>
</body>
</html>