<header class="header">
    <div class="logo">
        <a href="/">LOGO</a>
    </div>

    <ul class="menu">
        <li>
            <a href="/register">Cadastro de Clientes</a>
        </li>
        <li>
            <a href="/list">Listagem de Usuários</a>
        </li>
        <li>
            <a href="/products">Páginas de Produtos</a>
        </li>
    </ul>
</header>